{{- $logo := resources.Get "images/favicons/favicon-32.png" -}}
<nav class="border-gray-700 border-b-2">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <a href="/"><img class="h-8 w-8" src="{{ $logo.Permalink }}" alt="{{.Site.Title}}"></a>
      </div>
      <div class="px-3 py-2 text-lg font-medium text-gray-300 hover:text-white">
        <a href="/">{{.Site.Title}}</a>
      </div>
    </div>
    <div class="hidden md:block">
      <div class="menu desktop">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}"{{if .Params.external}} target="_blank"{{end}} class="{{- if  $currentPage.IsMenuCurrent "main" . -}}active{{- end -}}">{{ .Name }}</a>
        {{end}}
      </div>
    </div>
    <div class="-mr-2 flex md:hidden">
      <button id="menu-mobile-button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
        <span class="sr-only">Open main menu</span>
        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>

  <div class="hidden md:hidden" id="menu-mobile">
    <div class="menu mobile">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"{{if .Params.external}} target="_blank"{{end}} class="{{- if  $currentPage.IsMenuCurrent "main" . -}}active{{- end -}}">{{ .Name }}</a>
      {{end}}
    </div>
</nav>

<div class="py-6">
  <h1 class="text-3xl font-bold leading-tight text-white">
    {{.Title}}
  </h1>
  <p class="text-white">{{.Params.description}}</p>
</div>
