{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "> 0.5%, last 2 versions"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false,
        "corejs": 3
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
