@import "swagger-ui/form.css";
@import "swagger-ui/table.css";
@import "swagger-ui/buttons.css";
@import "swagger-ui/information.css";
@import "swagger-ui/models.css";
@import "swagger-ui/operations.css";
@import "swagger-ui/response.css";
@import "swagger-ui/highlight.css";
@import "swagger-ui/schemes.css";
@import "swagger-ui/markdown.css";
@import "swagger-ui/modal.css";
@import "swagger-ui/authorize.css";
@import "swagger-ui/errors.css";


.swagger-ui {
  .wrapper {
    @apply nm-flat-gray-200 rounded-lg p-4 mx-4 my-8 w-full;
  }
  .svg-assets {
    @apply hidden;
  }

  .loading-container {
    @apply flex items-center flex-col justify-center;
    @apply mt-4;
    padding: 40px 0 60px;
    min-height: 1px;

    .loading {
      @apply relative inline-block;
      width: 80px;
      height: 80px;

      &::after {
        @apply absolute -translate-y-1/2 -translate-x-1/2;
        @apply block;
        content: ' ';
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid theme('colors.gray.700');
        border-color: theme('colors.gray.700') transparent theme('colors.gray.700') transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        @keyframes lds-dual-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
