{{- $logLevel := toUpper (getv "/log/level" "WARN") -}}
{{- $logMode := toUpper (getv "/log/mode" "HUMAN") -}}
<configuration scan="true" scanPeriod="60 seconds">
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    {{if eq $logMode "JSON"}}
        <layout class="net.logstash.logback.layout.LogstashLayout"></layout>
    {{else}}
      <withJansi>true</withJansi>
      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level)
          %cyan(%logger{36}) - %msg%n</pattern>
      </encoder>
    {{end}}
  </appender>

  <logger name="tech.unisonui" level="{{$logLevel}}" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <root level="{{$logLevel}}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
