@tailwind base;

body {
  @apply font-body w-full h-full text-gray-800;
  margin: inherit;
  background-color: #fafafa;
}

#app {
  @apply h-full;
}

main {
  padding: 3em 2em;
  overflow: auto;
  margin-left: 16.666667%;
}

.menu {
  @apply w-1/6 h-full fixed;
  background: #373a47;

  & a {
    color: #b8b7ad;

    &:hover,
    &:focus {
      color: #c94e50;
    }
  }

  & .items {
    padding: 2.5em 1.5em 0;
    & li {
      @apply text-xl;
      padding: 0.8em;
      color: #4e4a46;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #c94e50;
      }
    }
  }
}
