.swagger-ui {
  .auth-btn-wrapper {
    @apply flex justify-center;
    padding: 10px 0;

    .btn-done {
      @apply mr-4;
    }
  }

  .auth-wrapper {
    @apply flex flex-1 justify-end;

    .authorize {
      @apply pr-4 mr-2;

      &.modal-btn {
        @apply pr-8 mr-4; 
      }
    }
}

  .auth-container {
    @apply py-2 px-4 mt-0 mr-0 ml-2 mb-2;
    border-bottom: 1px solid theme('colors.gray.200');

    &:last-of-type {
      @apply m-0 border-0 py-2 px-4;
    }

    h4 {
      @apply mt-1 mr-0 ml-3 mb-3 #{!important};
    }

    .wrapper {
      margin: 0;
      padding: 0;
      background: inherit;
      box-shadow: inherit;
    }

    input[type=text], input[type=password] {
      min-width: 230px;
    }

    .errors {
      @apply p-2 rounded-sm text-sm font-code;
    }
  }

  .scopes {
    h2 {
      @apply text-lg;
      a {
        @apply cursor-pointer pl-2;
        @apply text-indigo-400 underline;
        &:hover {
          @apply text-indigo-700 font-bold;
        }
      }
    }
  }

  .scope-def {
    @apply pt-0 pr-0 pl-4 pb-4;
  }
}
