.swagger-ui {
  .errors-wrapper {
    @apply m-4 py-2 px-4;
    @apply rounded-lg;
    @apply nm-flat-red-200;
    animation: scaleUp 0.5s;

    .error-wrapper {
      @apply mt-0 mr-0 ml-2 mb-2;
    }

    .errors {
      h4 {
        @apply m-0 font-code text-lg font-bold;
      }

      small {
        @apply text-gray-600;
      }

      .message {
        @apply whitespace-pre-line;
        &.thrown {
          max-width: 100%;
        }
      }
    }

    hgroup {
      @apply flex items-center;

      h4 {
        @apply m-0 text-lg flex-1;
      }
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
