@import "../mixins";

.swagger-ui {
  select {
    &[multiple] {
      @apply rounded-lg;
      @apply my-3 mx-0 p-3;
      @include nm-flat(background);
    }

    &.invalid {
      @apply nm-flat-red-600;
      animation: shake .4s 1;
    }
  }

  .opblock-body select {
    min-width: 180px;
    @screen md {
      min-width: 230px;
    }
  }

  label {
    @apply text-sm font-bold;
    margin: 0 0 5px;
  }


  input[type=text],
  input[type=password],
  input[type=search],
  input[type=email],
  input[type=file],
  textarea {
    @apply border-0 appearance-none rounded-lg;
    @apply w-full my-6 leading-tight nm-inset-gray-800;
    @apply text-sm text-primary cursor-text;
    @include nm-inset(background);
    min-width: 100px;
    margin: 5px 0;
    padding: 8px 10px;
    max-width: 175px;

    @screen md {
      max-width: inherit;
    }

    &.invalid {
      @include invalid-form-element;
    }
  }

  input, textarea, select {
    &[disabled] {
      @apply cursor-not-allowed;
    }
  }
  input[disabled] {
    @include nm-inset(background);
  }

  textarea, select {
    &[disabled] {
      @apply bg-background text-primary cursor-not-allowed;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  textarea {
    @apply w-full font-code text-base p-3 outline-none;
    min-height: 280px;

    &:focus {
      @apply border-2 border-indigo-200;
      box-shadow: inherit;
    }

    &.curl {
      @apply text-sm;
      @apply m-0 p-4 resize-none bg-gray-800 text-gray-200;
      @apply nm-flat-gray-800-sm #{!important};
      min-height: 100px;
    }
  }


  .checkbox {
    @apply text-gray-900;
    padding: 5px 0 10px;

    transition: opacity .5s;

    label {
      @apply h-6 w-12 nm-inset-gray-200 rounded-full flex justify-start;
      .item {
        @apply ease-in-out;
        transition: margin 0.4s;
      }
      .item, .text {
        @apply flex-none;
      }
    }
    
    p {
      @apply font-code italic;
      @apply m-0 font-normal #{!important};
    }

    input[type=checkbox] {
      @apply hidden;

      & + label > .item {
        @apply relative inline-block rounded-sm cursor-pointer;
        @apply h-6 w-6 bg-gray-200 transform scale-110 rounded-full;
        box-shadow: 0.15em 0.15em 0.3em #99b5d2;
        @apply m-0 mr-8;
      }

      &:checked + label {
        @apply nm-inset-blue-500 #{!important};
        > .item {
          @apply ml-6 mr-2;
        }
      }
    }
  }
}
