.swagger-ui {
  .markdown,
  .renderedMarkdown {
    p,
    pre {
      margin: 1em auto;
    }

    pre {
      color: black;
      font-weight: normal;
      white-space: pre-wrap;
      background: none;
      padding: 0;
    }

    code {
      @apply text-purple-700;
      @apply bg-gray-900 bg-opacity-25;
      @apply rounded-sm;
      padding: 5px 7px;
    }

    pre > code {
      display: block;
    }
  }
}
