.swagger-ui {
  .dialog-ux {
    @apply fixed inset-0;
    position: fixed;
    z-index: 9999;

    .backdrop-ux {
      @apply fixed inset-0;
      @apply bg-gray-800 bg-opacity-75;
    }

    .modal-ux {
      @apply absolute w-full;
      @apply nm-flat-gray-200 rounded-lg;
      z-index: 9999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      min-width: 300px;
      max-width: 650px;
      box-shadow: 0 10px 30px 0 theme("colors.gray.600");
    }

    .modal-ux-content {
      @apply p-4 overflow-y-auto;
      max-height: 540px;

      p {
        @apply text-sm text-gray-700 font-body;
        margin: 0 0 5px;
      }

      h4 {
        @apply text-lg font-semibold;
        margin: 15px 0 0;
      }
    }

    .modal-ux-header {
      @apply flex items-center;

      padding: 12px 0;

      border-bottom: 1px solid theme("colors.gray.200");

      .close-modal {
        @apply border-none appearance-none;
        padding: 0 10px;
        background: none;
      }

      h3 {
        @apply text-xl font-bold m-0 flex-1;
        padding: 0 20px;
      }
    }
  }
}
