.swagger-ui {
  .responses-inner {
    @apply p-4;
    h4,
    h5 {
      @apply text-lg font-body;
      @apply mt-3 mr-0 mb-2 ml-2;
    }
  }

  .response-col_description {
    width: 99%;
  }

  .response-col_links {
    min-width: 6em;
    @apply pl-8 text-lg font-body;
    max-width: 40em;
    .response-undocumented {
      @apply text-sm font-code text-gray-700;
    }
  }

  .response-col_status {
    @apply text-lg font-body;
    .response-undocumented {
      @apply text-sm font-code text-gray-700;
    }
  }

  .response-controls {
    @apply flex pt-4;
  }

  .response-control-media-type {
    @apply mr-4;

    &--accept-controller {
      @apply w-full;
    }

    &__accept-message {
      @apply text-green-800 text-sm;
    }

    &__title {
      @apply block mb-1 text-sm;
    }
  }

  .content-type-wrapper {
    @include select(&);
  }
}
