@tailwind base;

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  @apply h-full;
}

body {
  @apply font-body w-full h-full text-gray-800;
  margin: inherit;
  background-color: #b4bad2;
}

#app {
  @apply h-full;
}

main {
  @apply h-full;
  padding: 5em;
  overflow: auto;
}

#no-service {
  @apply absolute text-6xl font-black;
  left: 25%;
  top: 50%;
}

.bm-item{
  @apply text-xl;
  padding: 0.8em;
  &:focus {
    outline: none;
  }
}

h1.bm-item {
  @apply text-4xl;
}

.bm-item  {
  & a {
  color: #b8b7ad;
    &:hover, &:focus {
      color: #c94e50;
    }
    &.active {
      color: #c94e50;
      pointer-events: none;
    }
  }
 }

.metadata {
  display: none;
  &.open {
    display: block;
  }
 }
