.swagger-ui {
  .nostyle {
    @apply font-body;
  }

  .parameter__type {
    @apply text-base font-code;
    @apply py-2 px-0;
  }

  .parameter-controls {
    @apply mt-3;
  }
  
  .examples {
    &__title {
      @apply block mb-3;
      @apply text-lg font-bold;
    }

    &__section {
     @apply mt-6;
     &-header {
      @apply text-sm font-bold;
      @apply mb-2;
     }
    }
  }

  .examples-select {
    @apply mb-3;

    &__section-label {
      @apply text-sm font-bold;
      @apply mr-2;
    }
  }

  .example {
   &__section {
     @apply mt-6;
     &-header {
      @apply text-sm font-bold;
      @apply mb-2;
     }
    }
  }

  .opblock-tag-section {
    @apply flex flex-col;
    .opblock-tag {
      @apply flex flex-row;
      @apply items-center;
      @apply text-4xl font-bold capitalize cursor-pointer;
      @apply p-2 mb-3;
      a {
        @apply pr-2;
      }

      .expand-operation {
        @apply pl-2;
      }

      &.no-desc {
        span {
          @apply flex-1;
        }
      }

      svg {
        @apply transition duration-500;
      }

      small {
        @apply text-sm font-normal;
        @apply flex-1;
        @apply py-0 py-2;
      }
    }
  }

  .opblock {
    @apply rounded-lg;
    @apply m-3; 
    @apply transition-all duration-500 ease-in-out text-gray-900;
    @mixin nm-flat background;
    .tab-header {
      @apply flex flex-1;
      .tab-item {
        @apply py-0 px-5;
        @apply cursor-pointer;

        &:first-of-type {
          @apply pt-0 pl-0 pr-0;
          &.active {
            h4 {
              span {
                @apply relative;
                &::after {
                  @apply absolute;
                  @apply -translate-x-1/2;
                  bottom: -15px;
                  left: 0;
                  width: 120%;
                  height: 4px;
                  content: '';
                }
              }
            }
          }
        }
      }
    }

    &.opblock-post {
        @mixin method green;
    }

    &.opblock-put {
        @mixin method orange;
    }

    &.opblock-delete {
        @mixin method red;
    }

    &.opblock-get {
        @mixin method blue;
    }

    &.opblock-patch {
        @mixin method teal;
    }

    &.opblock-head {
        @mixin method purple;
    }

    &.opblock-options {
        @mixin method indigo;
    }

    &.opblock-deprecated {
        opacity: .6;
        @mixin method gray;
    }

    &.is-open {
      .opblock-summary {
      }
    }

    .view-line-link {
      @apply relative my-0 mx-2 cursor-pointer;
      @apply transition duration-500;
      top: 3px;
      width: 20px;
    }
      
    .opblock-summary-method {
      @apply text-xl font-bold text-center rounded-full;
      @apply py-2 px-3;
      min-width: 80px;
      text-shadow: 0 1px 0 theme('colors.gray.600');
    }
    
    .opblock-summary-path,
    .opblock-summary-operation-id,
    .opblock-summary-path__deprecated {
      @apply text-2xl break-words font-code;
      @apply flex items-center;
      @apply py-0 px-3;
    }

    .opblock-summary-path__deprecated {
      @apply line-through;
    }
   
    .opblock-summary-description {
      @apply flex-1;
      @apply text-xl break-words font-body;
    }

    .opblock-summary {
      @apply flex items-center;
      @apply p-3 cursor-pointer;

      .view-line-link {
        @apply relative w-0 m-0 cursor-pointer;
        @apply transition duration-500;
        top: 2px;
      }

      &:hover {
        .view-line-link {
          @apply my-0 mx-2;
          width: 18px;
        } 
      }
    }

    .opblock-section-header {
      @apply flex items-center;
      @apply bg-gray-700 bg-opacity-25;
      @apply shadow py-2 px-4;
      min-height: 50px;
      > label {
        @apply text-sm font-bold;
        @apply flex items-center;
        @apply m-0 ml-auto;
        > span {
          @apply pt-0 pl-0 pb-0 pr-2;
        }
      }
      
      h4 {
        @apply flex-1 m-0 text-xl;
      }
    }

    .opblock-schemes {
      @apply py-2 px-4;
      .schemes-title {
        @apply pt-0 pl-0 pb-0 pr-3;
      }
    }
  }

  .opblock-description-wrapper,
  .opblock-external-docs-wrapper,
  .opblock-title-normal {
    @apply font-body;
    @appy mt-0 mr-0 ml-2 mb-2;
    @apply py-3 px-4;

    h4 {
      @apply text-lg font-body;
      @appy mt-0 mr-0 ml-2 mb-2;
    }

    p {
      @apply font-body;
      @apply m-0;
    }
  }

  .opblock-external-docs-wrapper {
    h4 {
      @apply pl-0;
    }
  }

  .opblock-body {
    .opblock-loading-animation {
      @apply block m-12 ml-auto mr-auto;
    }
    pre.microlight {
      @apply whitespace-pre-wrap break-all break-words font-code text-xs text-gray-200;
      @apply rounded-lg bg-gray-800;
      @apply m-0 p-3;
      hyphens: auto;
      overflow-wrap: break-word;
      headerline {
        @apply block; 
      }
    }
  }

  .execute-wrapper {
    @apply text-right p-4;

    .btn {
      @apply w-full py-2 px-6;
    }
  }

  .body-param-options {
    @apply flex flex-col;

    .body-param-edit {
      @apply py-3 px-0;
    }

    .body-param-content-type {
      @mixin select &
    }

    label {
      @apply py-2 px-0;
    }
  }
}
