.swagger-ui {
  table {
    @apply w-full py-0 px-2 border-collapse;

    &.model {
      tbody {
        tr {
          td {
            @apply p-0 align-top;

            &:first-of-type {
              width: 174px;
              padding: 0 0 0 2em;
            }
          }
        }
      }
    }

    &.headers {
      td {
        @apply font-code font-light text-sm;
        @apply align-middle;
      }
    }

    tbody {
      tr {
        td {
          @apply align-top;
          @apply pt-2 pb-2 pl-0 pr-0;
          border-top: 1px solid theme('colors.gray.800');

          &:first-of-type {
              max-width: 20%;
              min-width: 6em;
              padding: 10px 0;
          }
        }
      }
    }

    thead {
      tr {
        th, td {
          @apply font-body font-bold text-sm text-left;
          @apply border-opacity-25;
          padding: 12px 0;
          border-bottom: 1px solid theme('colors.gray.500');
        }
      }
    }
  }

  .parameters-col_description {
    @apply mb-8;
    width: 99%; 
    input[type=text] {
      @apply w-full;
      max-width: 340px;
    }

    select {
      border-width: 1px;
    }
  }

  .parameter__name {
    @apply text-lg font-normal;
    @appyl mr-3;

    &.required {
      @apply font-bold;

      &::after {
        @apply relative text-xs p-2 text-red-600 text-opacity-75;
        top: -6px;
        content: 'required';
      }
    }
  }

  .parameter__in, .parameter__extension {
    @apply text-sm italic font-code text-gray-600;
  }

  .parameter__deprecated {
    @apply text-sm italic font-code text-red-600;
  }

  .parameter__empty_value_toggle {
    @apply block text-sm;
    @apply pt-2 pb-2;

    input {
        margin-right: 7px;
    }

    &.disabled {
      @apply opacity-75;
    }
  }


  .table-container {
    @apply p-3;
  }
}
