// @import "mixins";
:root {
  --background: #edf2f7;
  --background-shadow: #99b5d2;
  --background-highlight: #fff;
  --primary: #1a202c;
  --primary-shadow: #12161f;
  --primary-highlight: #212837;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  @apply h-full;
}

body {
  @apply font-body w-full h-full;
  margin: inherit;
}

.dark {
  --background: #1a202c;
  --background-shadow: #12161f;
  --background-highlight: #212837;
  --primary: #edf2f7;
  --primary-shadow: #99b5d2;
  --primary-highlight: #fff;
}

#app {
  @apply h-full;
}

#outer-container {
  @apply text-primary bg-background relative;
  @apply flex flex-col;
}

// main {
//   @apply h-full px-32 pt-16;
//   overflow: auto;
// }

#no-service {
  @apply absolute text-6xl font-black;
  left: 25%;
  top: 50%;
}
/*
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  @apply bg-primary;
}

.bm-cross-button {
  @apply rounded-full;
}

.bm-cross {
  @apply bg-primary;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  @apply bg-background;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item {
  @apply text-xl text-primary;
  @apply inline-block rounded-lg;
  @apply p-4 mb-5;
  @apply transition duration-500 ease-in-out;
  @apply border-2;
  &:focus {
    @apply outline-none;
  }

  &.active {
    @apply cursor-default;
    a {
      @apply text-red-700;
    }
  }

  a {
    transition: color 0.3s;
    &:hover,
    &:focus {
      @apply text-red-700;
    }
  }
  .title {
    .name {
      @apply mr-4;
    }

    .type {
      @apply rounded-full font-semibold text-xs px-2 tracking-wide inline-block capitalize;
      &[data-type="openapi"] {
        @apply bg-teal-200 text-teal-800;
      }
      &[data-type="grpc"] {
        @apply bg-blue-200 text-blue-800;
      }
      &[data-type="asyncapi"] {
        @apply bg-violet-200 text-violet-800;
      }
    }
  }
}

h1.bm-item {
  @apply text-4xl;
  margin: 0 auto;
  padding: 0;
}

.metadata {
  display: none;

  &.open {
    display: block;
  }
  li {
    @apply text-sm;
  }
}

.search {
  @apply w-full my-6 leading-tight;
  @apply text-sm text-primary cursor-text;
}
*/
.header {
  @apply mx-auto px-4 sm:px-6;
  @apply flex flex-row;
  @apply flex;
  @apply justify-start space-x-10;
  @apply justify-between items-center py-6;
  @apply w-full;
  @apply text-4xl lg:text-2xl;

  .themeSwitch {
    svg {
      @apply hover:stroke-red-700;
    }
  }
}

#page-wrap {
  @apply flex flex-col lg:flex-row;
  @apply relative;
  @apply overflow-hidden h-full w-full;

  .menu {
    @apply sticky;
    @apply overflow-hidden;
    @apply flex flex-col;
    @apply w-screen lg:w-80;
    @media (min-width: 1024px) {
      height: calc(100vh - 40px);
    }
    background-color: var(--background-highlight);

    .search {
      @apply py-2;

      input {
        @apply border-b-2;
        @apply outline-none;
        @apply bg-transparent;
        @apply mx-4 py-2 px-4;
      }
    }

    .menu-item {
      @apply text-sm;
      @apply p-4;

      &:hover {
        @apply bg-background;
      }
      .active {
        @apply font-semibold;
      }

      .title {
        .name {
          @apply mr-4;
        }

        .type {
          @apply rounded-full font-semibold text-xs px-2 tracking-wide inline-block capitalize;
          &.openapi {
            @apply bg-teal-200 text-teal-800;
          }
          &.grpc {
            @apply bg-blue-200 text-blue-800;
          }
          &.asyncapi {
            @apply bg-violet-200 text-violet-800;
          }
        }
      }
    }
  }

  .content {
    z-index: 1;
    @apply relative w-full;
    @apply overflow-x-hidden overflow-y-auto;
  }
}
