:root {
  --background: #edf2f7;
  --background-shadow: #99b5d2;
  --background-highlight: #fff;
  --primary: #1a202c;
  --primary-shadow: #12161f;
  --primary-highlight: #212837;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  @apply h-full;
}

body {
  @apply font-body w-full h-full;
  margin: inherit;
}

.dark {
  --background: #1a202c;
  --background-shadow: #12161f;
  --background-highlight: #212837;
  --primary: #edf2f7;
  --primary-shadow: #99b5d2;
  --primary-highlight: #fff;
}

.themeSwitch {
  @apply absolute;
  right: 50px;
  top: 50px;
  transition: color 0.3s;
  &:hover{
    @apply text-red-700;
  }
}

#app {
  @apply h-full;
}


#outer-container {
  @apply text-primary bg-background;
}

main {
  @apply h-full px-32 pt-16;
  overflow: auto;
}

#no-service {
  @apply absolute text-6xl font-black;
  left: 25%;
  top: 50%;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  @apply bg-primary;
}

.bm-cross-button {
  @apply rounded-full;
  @mixin nm-flat background;
  &:hover {
    @mixin nm-flat background, 0.4em;
  }
}

.bm-cross {
  @apply bg-primary;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  @apply bg-background;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item {
  @apply text-xl text-primary;
  @apply inline-block rounded-lg;
  @apply p-4 mb-5;
  @apply transition duration-500 ease-in-out;
  
  @mixin nm-flat background;
  &:hover {
    @mixin nm-flat background, 0.4em;
  }

  &:focus {
    @apply outline-none;
  }

  &.active {
    @apply cursor-default;
    @mixin nm-inset background;
    a {
      @apply text-red-700;
    }
  }

  a {
    transition: color 0.3s;
    &:hover, &:focus {
      @apply text-red-700;
    }
 
  }
  .title {
    .name {
      @apply mr-4;
    }

    .type {
      @apply rounded-full font-semibold text-xs px-2 tracking-wide inline-block capitalize;
      &[data-type="openapi"] {
        @apply bg-teal-200 text-teal-800;
      }
      &[data-type="grpc"] {
        @apply bg-blue-200 text-blue-800;
      }
    }
  }
}

h1.bm-item {
  @apply text-4xl;
  margin: 0 auto;
  padding: 0;
}

.metadata {
  display: none;

  &.open {
    display: block;
  }
  li {
    @apply text-sm;
  }
 }

 .search {
  @apply border-0 appearance-none rounded-full;
  @apply w-full my-6 leading-tight;
  @mixin nm-inset background;
  @apply text-sm text-primary cursor-text;
  &:hover {
   @mixin nm-inset background;
  }
 }
