.swagger-ui {
  .btn {
    @apply font-bold leading-5;
    @apply py-4 px-8;
    @apply rounded-full nm-flat-gray-200-sm transform;
    @apply transition duration-200 ease-in-out;
    
    &.btn-sm {
      @apply py-2 px-4 text-sm;
    }

    &:hover {
      @apply scale-110;
    }

    &[disabled] {
      @apply cursor-not-allowed opacity-25;
    }
    
    &.cancel {
      @apply nm-flat-red-200-sm !important;
    }

    &.authorize {
      @apply nm-flat-green-200-sm !important;

      span {
        @apply float-left pr-4;
      }

      svg {
        fill: theme('colors.gray.800');
      }
    }

    &.execute {
      @apply nm-flat-blue-200-sm !important;
    }
  }

  .btn-group {
    @apply p-5 flex;
    .btn {
      @apply flex-1;

      &:first-child {
        @apply rounded-l-full rounded-r-none;
      }

      &:last-child {
        @apply rounded-r-full rounded-l-none;
      }
    }
  }

  .authorization__btn {
    @apply py-0 px-2;
    border: none;
    background: none;
    &.locked {
      @apply opacity-100;
    }
    &.locked {
      @apply opacity-50;
    }
  }

  .errors__clear-btn {
    @apply ml-4;
  }

  .expand-methods, .expand-operation {
    border: none;
    background: none;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .expand-methods {
    padding: 0 10px;

    &:hover {
      svg {
        fill: theme('colors.red.500');
      }
    }

    svg {
      transition: all .3s;

      fill: theme('colors.yellow.500');
    }
  }
}
